{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

  <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static "assets/vendor/lineicons/css/icons.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" type="text/css">


  <!-- Main CSS Files -->
    <link rel="stylesheet" href=" {% static 'css/_pages/app/app_main.css' %}" type="text/css">
    <link rel="stylesheet" href=" {% static 'css/_pages/app/menu.css' %}" type="text/css">

    {% block customStyle %} 
        
    {% endblock %}

  <!-- Vendor JS Files -->
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>

  <!-- Sites JS Files -->
    {% block customJs %}
    {% endblock %}
    <script src="{% static "js/app/app-main.js" %}"></script>

</head>
<body>
<div class="wrapper d-flex align-items-stretch" id="main-main">
        {% include "partials/menuleft.html" %}
        <div class="main-content">
        {% include "partials/menutop.html" %}
        {% block mainContent %}{% endblock %}
        </div>
</div>
<footer>
    SSSSS
</footer>
</body>
</html>