{% extends "app/app_main.html" %}
{% block title %} Home {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/dashboard.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/app/dashboard.js' %}"></script>
{% endblock %}
{% block mainContent %}
<div class="inside-box ">
    <div class="top-box">
        <div class="col-md informacoes_basicas">
            <i class="bi bi-bank"></i>
            <h5> Setores cadastrados</h5>
            <span id="setores_total">5</span>
        </div>
        <div class="col-md informacoes_basicas">
            <i class="bi bi-cash-coin"></i>
            <h5>Gasto total do mês</h5>
            <span id="gasto_total">R$ 8648</span>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-md">
            <h3>Gastos por mês</h3>
            <canvas id="gastos_mensal" width="500" height="200"></canvas>
        </div>
    </div>
    
    
    <div class="top-box">
        <div class="col-md">
            <h3>Gasto por Setor</h3>
            <canvas id="gastos_setor" width="200" height="200"></canvas>
        </div>
        <div class="col-md">
            <h3>Mais comprados</h3>
            <canvas id="gastos_marca" width="200" height="200"></canvas>
        </div>
    </div>
    
    <footer class="container"></footer>
    <script>
        window.onload = function(e){}
    </script>
</div>    
{% endblock %}

