{% extends "app/app_main.html" %}
{% block title %} Home {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/dashboard.css' %}" type="text/css">
{% endblock %}

{% block mainContent %}
<div class="inside-box ">
    <div class="top-box">
        <div class="col-md informacoes_basicas">
            <h5> <i class="bi bi-bank"></i> <b> Quantidades de Setores cadastrados pela {{ orgao }} </b>  :
                <span id="setores_total"></span> </h5>
        </div>
        <hr>
        <div class="col-md informacoes_basicas">

            <h5><i class="bi bi-cash-coin"></i> <b> Quantidades de gastos cadastrados pela {{ orgao }} </b> 
                : R$ <span id="gasto_total"></span></h5>

        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-md">
            <h4>Gastos de toda a {{ orgao }} com Patrimônios novos</h4>
            <canvas id="gastos_mensal" width="500" height="200"></canvas>
        </div>
    </div>
    <br>
    <br>
    <div class="top-box graf">
        <div class="col-md">
            <h4>Setores com maiores gastos</h4>
            <canvas id="gastos_setor" width="200" height="200"></canvas>
        </div>
        <br>
        <br>
        <div class="col-md">
            <h4>Marcas mais compradas</h4>
            <canvas id="gastos_marca" width="200" height="200"></canvas>
        </div>
    </div>

    <footer class="container"></footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/app/dashboard.js' %}"></script>
    <script>
        window.onload = function(event){
            retorna_total_gasto('{% url "app-retorna-total-gasto" %}')
            retorna_quantidade_setores('{% url "app-retorna-quantidade-setores" %}')
            relatorio_gasto('{% url "app-relatorio-gasto" %}')
            relatorio_marcas('{% url "app-relatorio-marcas" %}')
            relatorio_setores('{% url "app-relatorio-setor" %}')
        }
    </script>
</div>    
{% endblock %}