{% extends "app/app_main.html" %}
{% block title %} Estoque {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/estoque.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}


{% block mainContent %}
    
<div class="inside-box">
<h1>Itens patrimôniais do seu Setor</h1>
<br>
    <table>
        <thead>
            <tr>
                <th class="item-tombo">Tombo</th>
                <th class="item-nome">Nome do Item</th>
                <th class="item-marca">Marca</th>
                <th class="item-data">Data de Compra</th>
                <th class="item-valor">Valor de Compra</th>
                <th class="item-nota">Nota Fiscal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.tombo }}</td>
                <td>{{ item.itemnome }}</td>
                <td>{{ item.marca }}</td>
                <td>{{ item.datacompra }}</td>
                <td> R$ {{ item.valorcompra }}</td>
                <td>{{ item.notafiscal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'export_estoque_xls' %}">Exportar Estoque para XLS</a></p>
    <p><a href="{% url 'export_estoque_pdf' %}">Exportar Estoque para PDF</a></p>

</div>    
   
{% endblock %}

