{% extends "app/app_main.html" %}
{% block title %} Estoque {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/estoque.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}


{% block mainContent %}
    
<div class="inside-box">
<h1>Itens patrimôniais do seu Setor</h1>
    <table>
        <thead>
            <tr>
                <th>Tombo</th>
                <th>Nome do Item</th>
                <th>Marca</th>
                <th>Data de Compra</th>
                <th>Valor de Compra</th>
                <th>Nota Fiscal</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.tombo }}</td>
                <td>{{ item.itemnome }}</td>
                <td>{{ item.marca }}</td>
                <td>{{ item.datacompra }}</td>
                <td>{{ item.valorcompra }}</td>
                <td>{{ item.notafiscal }}</td>
                <td>{{ item.setor_id_setor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
   
{% endblock %}

