{% extends "app/app_main.html" %}
{% block title %} Itens + {% endblock %}
{% load static %}

{% block customStyle %} 
    
    <link rel="stylesheet" href="{% static 'css/_pages/app/item-visita.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}


{% block mainContent %}
    
<div class="inside-box">
    
    <h1>Busca de Item por Tombo</h1>
        <br>
        <form method="GET">
            <label for="{{ form.tombo.id_for_label }}"> Tombo no setor: </label>
        <div class="form-box">
            <div class="form-submit">        
                {{ form.tombo }}
                <button class="btn btn-outline-secondary" type="submit"> Buscar </button>
            </div>
        </div>    
        </form>
        <br>

    <hr>
    <h1>Buscados:</h1>

<table>
    <thead>
        <tr> 
            <th class="item-tombo">Tombo</th>
            <th class="item-nome">Nome do Item</th>
            <th class="item-desc">Descrição</th>
            <th class="item-marca">Setor do Bem</th>
            
        </tr>
    </thead>
    <tbody>
            <tr> 
                {% for item in visita_list %}
        <tr>
            <td>{{ item.tombo }}</td>
            <td>{{ item.itemnome }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.setor_id_setor }}</td>
        </tr>
            {% endfor %}    
            </tr>
    </tbody>
</table>

<div class="justify-content-evenly">
<form method="post">
    {% csrf_token %}
    <button type="submit" name="salvar_visita" class="btn btn-outline-success">Salvar Visita</button>
    <button type="submit" name="limpar_busca" class="btn btn-outline-danger">Limpar</button>
</form>
</div>
<hr>

    <h1>Almoxarifado:</h1>
<table>
    <thead>
        <tr> 
            <th class="item-tombo">Tombo</th>
            <th class="item-nome">Nome do Item</th>
            <th class="item-desc">Descrição</th>
            <th class="item-marca">Setor do Bem</th>
            
        </tr>
    </thead>
    <tbody>
        {% for item in page_obj %}
        <tr> 
            <td>{{ item.tombo }}</td>
            <td>{{ item.itemnome }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.setor_id_setor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="paginacao">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><i class="bi bi-chevron-double-left"></i></a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left"></i></a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-right"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="bi bi-chevron-double-right"></i></a>
        {% endif %}
    </span>
</div>
</div>    
   
{% endblock %}

