{% extends "app/app_main.html" %}
{% block title %} Itens + {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/itens.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}


{% block mainContent %}
    
<div class="inside-box">
<h1>
    Digite o tombo do Item:
</h1>
<br>
<form method="get">
    {{ search_form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if item %}
    <h2>Editar Setor do Item: {{ item.itemnome }}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.idpatrimonio }}">
        {{ edit_form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    
{% elif item_searched %}
    <p>Nenhum item encontrado com esse tombo.</p>
{% endif %}
</div>    
   
{% endblock %}

