{% extends "app/app_main.html" %}
{% block title %} Itens + {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/itens.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}
{% block mainContent %}
    
<div class="inside-box">
    <h2>Cadastre um item:</h2>

    <form action="{% url "item-cadastro" %}" method="post">
                {% csrf_token %}
                 <div class="form-wrapper">
                     {{ form.ItemTombo.as_field_group }}
                 </div>
                <div class="form-wrapper">
                     {{ form.ItemNome.as_field_group }}
                </div>
                <div class="form-wrapper">
                     {{ form.ItemDescricao.as_field_group }}
                </div>
                <div class="form-wrapper">
                     {{ form.ItemEstado.as_field_group }}
                 </div>
                <div class="form-wrapper">
                     {{ form.ItemMarca.as_field_group }}
                 </div>
                <div class="form-wrapper">
                     {{ form.ItemAno.as_field_group }}
                </div>
                <div class="form-wrapper">
                     {{ form.ItemPreco.as_field_group }}
                </div>
                <div class="form-wrapper">
                     {{ form.ItemData.as_field_group }}
                 </div>
                <div class="form-wrapper">
                     {{ form.ItemNotaFiscal.as_field_group }}
                </div>
                <div class="form-wrapper">
                     {{ form.ItemDepreciacao.as_field_group }}
                </div>
                <div class="form-wrapper">
                     {{ form.ItemCC.as_field_group }}
                 </div>
                <div class="form-wrapper">
                     {{ form.ItemSetor.as_field_group }}
                </div>
            <div class="form-submit">
                <button class="btn btn-outline-secondary" type="submit">Registre</button>
            </div>
    </form>
</div>    
{% endblock %}