{% extends "app/app_main.html" %}
{% block title %} Itens + {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/itens.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}
{% block mainContent %}
    
<div class="inside-box">
    <h2>Cadastre um item:</h2>

    <form action="{% url "item-cadastro" %}" method="post">
                {% csrf_token %}
                 {{ form.errors }}
                 {{ form }}
        <div class="lgn-botao">
          <input type="submit" value="Registre" class="form-botao">
        </div>
    </form>
</div>    
{% endblock %}