{% extends "app/app_main.html" %}
{% block title %} Localização {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/localizacao.css' %}" type="text/css">
{% endblock %}

{% block mainContent %}
    <div class="inside-box ">
        <h1>Busca de Item por Tombo</h1>
        <br>
        <form method="get">
        <div class="form-box">    
            <div class="form-wrapper">        
                {{ form }}
            </div>
            <div class="form-submit">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </div>    
        </form>
        <br>
{% if item %}
    <h2>Resultados da busca:</h2>

    <ul>         
        <li><b>Tombo:</b> {{ item.tombo }}</li>
        <li><b>Nome do Item:</b> {{ item.itemnome }}</li>
        <li><b>Descrição:</b> {{ item.descricao }}</li>
        <li><b>Nota Fiscal:</b> {{ item.notafiscal }}</li>
        <li><b>Marca:</b> {{ item.marca }}</li>
        <li><b>Ano de fabricação do Patrimônio:</b> {{ item.itemano }}</li>
        <li><b>Data de Compra:</b> {{ item.datacompra }}</li>
        <li><b>Valor de Compra:</b> R$ {{ item.valorcompra }}</li>
        <li><b>Depreciação:</b> {{ item.depreciacao_iddepreciacao1 }}</li>
        <li><b>Setor:</b> {{ item.setor_id_setor }}</li>
    </ul>
{% elif item_searched %}
    <p>Nenhum item encontrado com esse tombo.</p>
{% endif %}
    </div>
{% endblock %}
