{% extends "app/app_main.html" %}
{% block title %} Servidores {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/app/localizacao.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}


{% block mainContent %}
    
<div class="inside-box">
    <h3> Para alteações de setor de servidor </h3>
    <br>
    <form method="get">
        <div class="form-box">    
            <div class="form-wrapper">        
                {{ search_form }}
            </div>
            <div class="form-submit">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </div>
    </form>

    {% if usuario %}
        <h2>Editar Setor do Usuário: {{ usuario.nomeusuario }} {{ usuario.sobrenome }}</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="usuario_id" value="{{ usuario.idusuario }}">
            {{ edit_form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    {% elif usuario_searched %}
        <p>Nenhum usuário encontrado com esse CPF.</p>
    {% endif %}
</div>    
   
{% endblock %}

