{% extends "app/app_main.html" %}
{% block title %} i-Patri User {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/page-userinfo.css' %}" type="text/css">
{% endblock %}

{% block customJs %}
{% endblock %}


{% block mainContent %}
    
<div class="inside-box">
<h1>Perfil do Usuário</h1>
    {% if usuario %}
        <p><strong>Nome:</strong> {{ usuario.nomeusuario }}</p>
        <p><strong>Sobrenome:</strong> {{ usuario.sobrenome }}</p>
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
        <p><strong>Setor:</strong> {{ usuario.setor_id_setor }}</p>
    {% else %}
        <p>Usuário não encontrado.</p>
    {% endif %}
    <hr>
    <h2>Alterar Senha</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <div class="form-submit">
                <button class="btn btn-outline-secondary" type="submit">Alterar Senha</button>
            </div>
    </form>
</div>    
   
{% endblock %}

