{% extends "usuario/main-cadastro-login.html" %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/page-cadastro.css' %}" type="text/css">
{% endblock %}

{% block mainContent %}
    <div class="hdr">
            <div class="hdr-img">
                <img src="{% static "img/main/logo_ipatri.png " %}" alt="logo do site" width="75" height="75">
            </div>
            <div class="hdr-text"> Crie a sua conta</div> 
        </div>
{% endblock %}