{% extends "usuario/main-cadastro-login.html" %}
{% block title %} Cadastro {% endblock %}
{% load static %}

{% block customStyle %} 

    <link rel="stylesheet" href="{% static 'css/_pages/page-cadastro.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/_pages/page-login.css' %}" type="text/css">
{% endblock %}

{% block mainContent %}
    <div class="c-box">
    {% if user.is_authenticated %}
         <h1>Você já está logado:</h1>

         <div class="lgn-botao">
                <form action="{% url 'app-home' %}" method="post">
                    {% csrf_token %}
                     <input type="submit" value="APP" class="form-botao">
                </form>
         </div>
         
         <div class="lgn-botao">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                     <input type="submit" value="Deslogar" class="form-botao">
                </form>
         </div>
        <hr>
     {% endif %}
        <div class="hdr">
            <img src="{% static "img/main/logo_ipatri.png" %}" alt="logo do site" width="75" height="75">
            <h2> Crie uma Conta </h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                         {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="cadastro-form">
             <form action="{% url "cadastro-page" %}" method="post">
                {% csrf_token %}
                 
                 <div class="cadastro-wrapper">
                     {{ form.fname.as_field_group }}
                 </div>
                 
                 <div class="cadastro-wrapper">
                     {{ form.lname.as_field_group }}
                 </div>
                 
                 <div class="cadastro-wrapper">
                     {{ form.Email.as_field_group }}
                 </div>
                 
                 <div class="cadastro-wrapper">
                     {{ form.ConfEmail.as_field_group }}
                 </div>
                 
                 <div class="cadastro-wrapper">
                     {{ form.cpf.as_field_group }}
                 </div>
                 
                 <div class="cadastro-wrapper">
                     {{ form.senha.as_field_group }}
                 </div>
                 
                 <div class="cadastro-wrapper">
                     {{ form.ConfSenha.as_field_group }}
                 </div>
                 <div class="lgn-botao">
                     <input type="submit" value="Entre!" class="form-botao">
                 </div>
                 

             </form>
            
            <div class="register-container">
                <p>Já possui uma conta? <a href="{% url 'login-page' %}">Acesse-a!</a></p>

            </div>
        </div>
    </div>
{% endblock %}