{% extends "usuario/main-cadastro-login.html" %}

{% block title %} Login {% endblock %}
{% load static %}

{% block customStyle %} 
    <link rel="stylesheet" href="{% static 'css/_pages/page-login.css' %}" type="text/css">
{% endblock %}

{% block mainContent %}
    <div class="lgn-box">
        <div class="hdr">
            <img src="{% static "img/main/logo_ipatri.png " %}" alt="logo do site" width="75" height="75">
            <h2> Acesse a sua conta </h2>
        </div>
        
        <div class="lgn-form">
             <form action="." method="post">
                 {% csrf_token %}
                 
                 {{ form.errors }}
                 
                 <div class="input-wrapper">
                 <table> 
                     {{ form.cpf.as_field_group }}
                 </table>
                 </div>
                 
                 <div class="input-wrapper">
                 <table> 
                     {{ form.senha.as_field_group }}
                 </table>
                 </div>
                 <div class="lgn-botao">
                    <input type="submit" value="Entre!" class="form-botao">
                 </div>
                 
             </form>
            
            <div class="register-container">
                <p>Não possui uma conta?</p> 
                <a href="{% url 'cadastro-page' %}">Cadastre-se!</a>
            </div>
        </div>
    </div>
{% endblock %}

