{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

  <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" type="text/css">

  <!-- Main CSS Files -->
    <link rel="stylesheet" href=" {% static 'css/_pages/page-main-cadastro-login.css' %}" type="text/css">

    {% block customStyle %} 
        
    {% endblock %}

  <!-- Vendor JS Files -->
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</head>
<body style="background-image: url('{% static "/img/main/backgroung_login_cadastro.jpg" %}'); ">
    <nav>
        <div class="logo_nav">
            <img src=" {% static "img/main/logo_nav_ipatri.png " %} " alt="logo do site ao topo com um circulo cinza ao redor" width="40" height="40">
        </div>
        <div class="lgn-button"> <a href="{% url 'login-page' %}"> Log in </a></div>
    </nav>
    
    <div class="main">
        {% block mainContent %}{% endblock %}
    </div>
    <footer>
        {% include "partials/footer.html" %}
    </footer>
</body>
</html>
