.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    margin-right: auto;
}

.top-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bi{
    color: #C040B9;
}