@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Menu Left */

#sidebar {
    width: 25%;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    max-height: 100%;
    margin-top: 2%;
    margin-left: 2%;

}
.logo img{
    width: 10vh;
    height: auto;
}

.logo{
    text-align: center;
    display: flex;
    align-items: center;
}

/* Menu Top */
#menutop{
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 0 2vh 0 0;
    margin-top: 4.2vh ;
}


/* Comum dos dois Menu's */

nav{


}


.btn-outline-secondary{

}

.menus{

}