<nav class="navbar navbar-expand-sm justify-content-evenly" id="menutop">
    <form class="container-fluid">
        <button class="btn btn-outline-secondary border-0" type="button"> Dashboard </button>
        <button class="btn btn-outline-secondary border-0" type="button"> Localização </button>
        <button class="btn btn-outline-secondary border-0" type="button"> Estoque </button>
        <button class="btn btn-outline-secondary border-0" type="button"> Manutenção </button>
    </form> 
</nav>