{% load static %}
<div id="sidebar" class="col-md-3 col-sm-12">
        <div class="logo">
          <img src="{% static "img/main/logo_ipatri.png" %}" alt="Logo da Empresa">
        </div>
        <button class="dropdown-toggle btn btn-outline-secondary border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Item
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{% url 'item-cadastro' %}">Cadastro</a></li>
          <li><a class="dropdown-item" href="#">Visita</a></li>
        </ul>
            <a href="{% url 'app-home' %}"><button class="btn btn-outline-secondary border-0">Configuração</button></a>
        <div class="foto-usuario">
          <img src="{% static "img/main/usuariofrog.jpg" %}" alt="Foto do Usuário">
          <span> {{ Usuario.nomeusuario }} </span>
        </div>
</div>