<nav class="navbar" id="menutop">
    <form class="container-fluid justify-content-evenly">
        <a href="{% url 'app-home' %}"> <button class="btn btn-outline-secondary border-0" type="button" >
            Dashboard</button> </a>
        <a href="{% url 'app-estoque' %}"><button class="btn btn-outline-secondary border-0" type="button">
            Estoque </button> </a>
        <button class="btn btn-outline-secondary border-0" type="button"> 
            <a href="{% url 'app-home' %}"> Localização </a> </button>
        <button class="btn btn-outline-secondary border-0" type="button"> 
            <a href="{% url 'app-home' %}"> Manutenção </a> </button>
    </form> 
</nav>