<nav class="navbar" id="menutop">
    <form class="container-fluid justify-content-evenly">
        <a href="{% url 'app-home' %}"> <button class="btn btn-outline-secondary border-0" type="button" >
            Dashboard</button> </a>
        <a href="{% url 'app-estoque' %}"><button class="btn btn-outline-secondary border-0" type="button">
            Patrimônio </button> </a>
        <a href="{% url 'app-localizacao' %}"> <button class="btn btn-outline-secondary border-0" type="button"> 
            Localização </button> </a> 
        <a href="{% url 'user-page' %}"> <button class="btn btn-outline-secondary border-0" type="button"> 
            Perfil </button> </a> 
    </form> 
</nav>