body{
    background-color: #963399;
}

.loginbox {
    display: flex;
    margin: auto;
    width: 512px;
    height: 582px;
    padding: 30px 50px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

.headertext {
    color: #000;
    font-family: "Segoe UI", system-ui, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
}