.c-box{
    background-color: white;
    opacity: 0.92;
    margin: 5% auto;
    padding: 5% 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;

}

.cadastro-wrapper input:focus-visible{
    outline: none;
}

#orgao{
    display: block;
    width: 100%;
}

.cadastro-wrapper{
    margin: 2%;
    border-style: solid;
    border-color: #ced4dA;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}


.cadastro-wrapper input{
    background-color: transparent;
    color: #2F1F36;
    border: none;
    width: 100%;
}
